@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #f1f1f1;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "AfacadFlux";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
